html, body {
  background-color: #F5F5F3;
}

.row {
  width:75%;
  margin: auto;
}

.cover {
  background-size: cover;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-left:1%;
    padding-right: 1%;
    padding-top: 7.5%;
    background-color: #F5F5F3;
  }

  .jumbotron p {
      font-size: 1.5em;
      font-weight: 200;
      margin-bottom: 15px;
  }

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  h3 span {
    background: #F0E68C;
    line-height: normal;
  }

  p {
    font-size: 1.5em;
    line-height: 1.9em;
    padding-bottom: 1em;
}

  .jumbotron .h1, .jumbotron h1 {
      font-size: 5em;
  }

.social-icons{
  position: fixed;
  z-index: 1000;
}


.fa-twitter, .fa-facebook{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: lightgray;
  margin-bottom: 2px;
}

.fa-clock-o {
  margin-right: 5px;
}

.legend {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  padding: 10px;
}

.leaflet-control-geocoder{
  border-radius: 4px;
}

p .btn {
  font-size: 10px;
  color: black;
  font-weight: lighter;
}

#table{
  min-height: 600px;
  font-size: 1.2em;
  line-height: 1.5em;
}

tbody, tr, td {
  background-color: #F5F5F3;
  font-size: 1em;
}

.time {
  font-size: 1.1em !important;
  margin: 0px !important;
}

.figure-caption {
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
}

.thumbnail {
    background-color: #F5F5F3;;
    border: 0px;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 10px;
    margin-top: 2.5px;
    padding: 0px;
    transition: border 0.2s ease-in-out 0s;
}

  .quote::before {
    content: "“";
    font-family: Arial;
    font-size: 7em;
    left: 0;
    position: relative;
    top: 0.5em;
}

p span {
  background: #F0E68C;
  padding: 2px;
}

.figure-caption span {
  background-color:  #F0E68C;
}

.quote {
    color: #d3c756;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 2.3em;
}

#mapid {
  min-height:600px;
}

.instruction {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 1.5em !important;
    line-height: 1.9em;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color:#F5F5F3;
}

/*media queries*/

@media (max-width: 400px) {
  .jumbotron .h1, .jumbotron h1 {
      font-size: 2em;
  }

  .jumbotron p {
    font-size: 1.4em;
  }

  #mapid {
    min-height:400px;
  }

  .row {
    width: 100%;
  }
}


@media (max-width: 600px) {
  .jumbotron .h1, .jumbotron h1 {
      font-size: 3em;
  }

  .row {
    width: 100%;
  }

#mapid {
    min-height:500px;
  }
}
