html, body {
  background-color: #EFF2F4;
}

.cover {
  background-size: cover;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-left:1%;
    padding-right: 1%;
    padding-top: 10%;
    background-color: #EFF2F4;
  }

  h1, h2, h3, h4 {

    font-weight: bold;

  }

  iframe {
    border-radius: 0;
    border-color: white;
  }

  .form-inline{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

.jumbotron p {
  font-size: 1.75em;
}

img{
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

img:hover{
  -webkit-filter: none;
  filter: none;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.fa-twitter, .fa-facebook{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: lightgray;
}

.legend {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  padding: 10px;
}
