html, body {
  background-color: #EFF2F4;
}

.cover {
  background-size: cover;

}

.container .jumbotron, .container-fluid .jumbotron {
    padding-left:1%;
    padding-right: 1%;
    padding-top: 15%;
    background-color: #EFF2F4;
  }

  h1, h2, h3, h4 {

    font-weight: bold;

  }

  iframe {
    border-radius: 0;
    border-color: white;
  }

  .form-inline{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

.jumbotron p {
  font-size: 1.75em;
}
